{# [START form] #}
{% extends "base.html" %}

{% block content %}
<div>
<h3>{{action}} Reservation</h3>
{% if message != "" %}
<div class="alert alert-danger" role="alert">
  <strong>{{message}}</strong>
</div>
{% endif %}
<form method="POST" enctype="multipart/form-data">
  <div class="form-horizontal">
    <div class="form-group">
      <div class = "control-label col-md-2">
        <label for="start">Date</label>
      </div>
      <div class="col-md-10">
        <input type="text" name="date" id="date" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class = "control-label col-md-2">
        <label for="start">Start</label>
      </div>
      <div class="col-md-10">
        <input type="text" name="start" id="start" class="form-control time"/>
      </div>
    </div>
    <div class="form-group">
      <div class = "control-label col-md-2">
        <label for="duration">Duration</label>
      </div>
      <div class="col-md-10">
        <input type="text" name="duration" id="duration" class="form-control time"/>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
</div>
<div>
  <h4>Upcoming reservation time</h4>
  {% for res in reservations %}
  <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      {{res.start_time.strftime("%Y-%m-%d")}}
    </div>
    <div class="col-md-3">
      From {{res.start_time.strftime("%H:%M")}}
    </div>
    <div class="col-md-3">
      To {{res.end_time.strftime("%H:%M")}}
    </div>
  </div>
  {% endfor %}
</div>
<script>
    $(function() {
        $('.time').timepicker({
          'showDuration': true,
          'timeFormat': 'H:i'
        });
        $('#date').datepicker({
          'format': 'yyyy-m-d',
          'autoclose': true
        });
    });
</script>
{% endblock %}
{# [END form] #}
