{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h3>User Resources</h3>
    {% for resource in resources %}
    <div>
      <a href="/resources/{{resource.id}}">
          <h4>{{resource.name}}</h4>
      </a>
      <div>Available from {{resource.available_start}} to {{resource.available_end}}</div>
      <div>Tags: {% for tag in resource.tags %}
        <a href="/tags/{{tag.id}}">
        {{tag.value}}
        </a>
      {% endfor %}</div>
    </div>
    {% else %}
    <div>No resource found</div>
    {% endfor %}
  </div>

  <div class="col-sm-6">
    <h3>User Reservations</h3>
    {% for reservation in reservations %}
    <div>
      <a href="/reservations/{{reservation.id}}">
          <h4>Reservation with {{reservation.resource_name}}</h4>
     </a>
          <div>From: <strong>{{reservation.start_time.strftime('%Y-%m-%d %H:%M')}}</strong> To: <strong>{{reservation.end_time.strftime('%H:%M')}}</strong></div>
    </div>
    <a href="/reservations/{{reservation.id}}/delete">
        delete this reservation
   </a>
    {% else %}
    <div>No reservation found</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
