{% extends "base.html" %}

{% block content %}
<a href="/resources/add" class="btn btn-default">
  <i class="glyphicon glyphicon-plus"></i>
  Add Resource
</a>
<div class="row">
  <div class="col-sm-4">
    <h3>My Resources</h3>
    {% for resource in my_resources %}
    <div>
      <a href="/resources/{{resource.id}}">
          <h4>{{resource.name}}</h4>
          <p>{{resource.available_start}}</p>
          <p>{{resource.available_end}}</p>
          <p>{% for tag in resource.tags %}
            {{tag.value}}
          {% endfor %}</p>
      </a>
    </div>
    {% else %}
    <p>No resource found</p>
    {% endfor %}
  </div>

  <div class="col-sm-4">
    <h3>All Resources</h3>
    {% for resource in resources %}
    <div>
      <a href="/resources/{{resource.id}}">
          <h4>{{resource.name}}</h4>
          <p>{{resource.available_start}}</p>
          <p>{{resource.available_end}}</p>
          <p>{% for tag in resource.tags %}
            {{tag.value}}
          {% endfor %}</p>
      </a>
    </div>
    {% else %}
    <p>No resource found</p>
    {% endfor %}
  </div>

  <div class="col-sm-4">
    <h3>My Reservation</h3>
    {% for reservation in my_reservation %}
    <div>
      <a href="/reservations/{{reservation.id}}">
          <h4>{{reservation.resource_name}}</h4>
          <p>{{reservation.start_time}}</p>
          <p>{{reservation.end_time}}</p>
      </a>
    </div>
    {% else %}
    <p>No reservation found</p>
    {% endfor %}
  </div>
</div>




{% endblock %}
