{% extends "base.html" %}

{% block content %}
<div>
  <h3>All Resources for {{tag.value}}</h3>
  {% for resource in resources %}
  <div>
    <a href="/resources/{{resource.id}}">
        <h4>{{resource.name}}</h4>
    </a>
    <div>Available from {{resource.available_start}} to {{resource.available_end}}</div>
    <div>Tags: {% for tag in resource.tags %}
      <a href="/tags/{{tag.id}}">
      {{tag.value}}
      </a>
    {% endfor %}</div>
  </div>
  {% else %}
  <div>No resource found</div>
  {% endfor %}
</div>
{% endblock %}
