
{% extends "base.html" %}

{% block content %}

<h3>Resource</h3>

<div class="btn-group">
  <a href="/resources/{{resource.id}}/edit" class="btn btn-default">
    Edit resource
  </a>
  <a href="/resources/{{resource.id}}/delete" class="btn btn-default">
    Delete resource
  </a>
  <a href="/resources/{{resource.id}}/add_reservation" class="btn btn-default">
    Create reservation
  </a>
  <a href="/resources/{{resource.id}}/get_reservations" class="btn btn-default">
    Get all reservations
  </a>
</div>

<div>
  <div>
    <h4 class="resource-title">
      {{resource.name}}
    </h4>
    <p>{{resource.available_start}}</p>
    <p>{{resource.available_end}}</p>
    <p>{% for tag in resource.tags %}
      {{tag.value}}
    {% endfor %}</p>
  </div>
</div>

{% endblock %}
