{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col">
    <h3>Resource Info</h3>
  </div>
  <div class="col text-right">
    <a href="/resources/{{resource.id}}/rss" class="text-right btn btn-default">
      RSS
    </a>
  </div>
</div>
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-md-4">
      Resource Name
    </div>
    <div class="col-md-8">
      {{resource.name}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4">
      Available Start
    </div>
    <div class="col-md-8">
      {{resource.available_start}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4">
      Available End
    </div>
    <div class="col-md-8">
      {{resource.available_end}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4">
      Past Reservations
    </div>
    <div class="col-md-8">
      {{num_past}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4">
      Tags
    </div>
    <div class="col-md-8">
      {% for tag in resource.tags %}
        <a href="/tags/{{tag.id}}">
        {{tag.value}}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div>

  <div class="text-center col-md-3">
    <a href="/resources/{{resource.id}}/add_reservation" class="btn btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create reservation
    </a>
  </div>
  <div class="text-center col-md-3">
    <a href="/resources/{{resource.id}}/get_reservations" class="btn btn-info">
      <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> Get all reservations
    </a>
  </div>
  {% if owner %}
  <div class="text-center col-md-3">
    <a href="/resources/{{resource.id}}/edit" class="btn btn-primary">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit resource
    </a>
  </div>
  <div class="text-center col-md-3">
    <a href="/resources/{{resource.id}}/delete" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete resource
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
